// *************************************
//
//   variables setting
//   -> variables setting
//
// *************************************

// -------------------------------------
//   project name
// -------------------------------------

$theme: coa-re2014;

// -------------------------------------
//   font size
// -------------------------------------

$font-base: 15px;

// -------------------------------------
//   color
// -------------------------------------

// Grays
$gray-darker:          lighten(#000, 13.5%) !default; // #222
$gray-dark:            lighten(#000, 20%) !default;   // #333
$gray:                 lighten(#000, 33.5%) !default; // #555
$gray-light:           lighten(#000, 60%) !default;   // #999
$gray-lighter:         lighten(#000, 93.5%) !default; // #eee

// link
$c-link:               #004b99;
$c-link-h:             lighten($c-link, 15%);

// -------------------------------------
//   clearfix
// -------------------------------------

.group:before, .group:after {
   content: "";
   display: table;
}
.group:after {
   clear: both;
}
.group {
   zoom: 1; // IE6&7
}